:root {

 --primary:rgb(94, 74, 117);
 --primary-aux: rgb(64, 52, 75);
 --secondary: rgb(220, 158, 248);
 --secondary-aux: rgb(148, 103, 173);
 --light: rgb(199, 139, 255);
 --light-aux: rgb(188, 97, 248);
 --dark: rgb(83, 35, 116);
 --dark-aux: rgb(66, 36, 90);
 --font-primary: 'Quicksand', sans-serif;
}

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  min-height: 100vh;
}

body {
  background: var(--primary-aux);
  font-family: var(--font-primary);
}

header {
  padding: 1rem 2rem;
  background: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > figure {
  max-height: 3rem;
}

header > figure >img {
  max-height: 3rem;
  transform: scale(3);
}

nav {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > a {
  padding: .5rem 1rem;
  border-radius: .25rem;
  background: var(--dark);
  font-size: 0.75rem;
  display: inline-block;
  text-transform: capitalize;
}

section.full-height {
  min-height: 100vh;
}

section.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  background-image: url(/images/your_throne__medea_by_ariesqueenx_de58h6w.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
  

section.welcome > .welcome-message {
  max-width: 40vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

section.welcome > .welcome-message > h1 {
  font-size: 3rem;
  color: var(--dark);
  text-align: center;
}

section.welcome > .welcome-message > h3 {
 font-size: 1.5rem;
 color: var(--dark-aux);
 margin-top: 1rem;
 text-align: center;
}

section.welcome > .welcome-message > a {
  width: 80%;
  height: 3rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--dark);
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  box-shadow: 0 3px 6px rgb(84, 65, 105);
}

section.welcome > .welcome-figure {
  flex: 1;
  max-width: 40vw;
  height: 100vh;
}

section.welcome > .welcome-figure > img {
  max-height: 100%;
  max-width: 100%;
}
